// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree file for the Gemini-based Sarotech Wizplat NAS-20
 */

/dts-v1/;

#include "gemini.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "Sarotech NAS-20";
	compatible = "sarotech,nas-20", "cortina,gemini";
	#address-cells = <1>;
	#size-cells = <1>;

	memory@0 { /* 128 MB */
		device_type = "memory";
		/* The device has 128M installed but they are probably at another
                   address range? Using 0x4000000-0x8000000 causes the kernel to oops */
		/* reg = <0x00000000 0x8000000>; */
		reg = <0x00000000 0x4000000>;
	};


	chosen {
		bootargs = "console=ttyS0,19200 rootdelay=2";
		stdout-path = &uart0;
	};

	leds {
		compatible = "gpio-leds";

		hdd0 {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_DISK_ACTIVITY;
			function_enumerator = <1>;
			gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;

		};

		hdd1 {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_DISK_ACTIVITY;
			function_enumerator = <2>;
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		};		

		hdd-full {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_ALARM;
			panic-indicator;
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
		};

		usb0 {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_USB;
			function_enumerator = <1>;
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			trigger-sources = <&usb0>;
			linux,default-trigger = "usbport";
		};

		usb1 {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_USB;
			function_enumerator = <2>;
			gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
			trigger-sources = <&usb1>;
		};

		ready {
			function = LED_FUNCTION_BOOT;
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
			led-pattern = <250 250>;
		};	
		
	};

	fan {
		compatible = "gpio-fan";
		gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;	
	};

	beeper {
		compatible = "gpio-beeper";
		gpios = <&gpio1 30 GPIO_ACTIVE_HIGH>;
	};

	mdio0: mdio {
		compatible = "virtual,mdio-gpio";
		gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>, /* MDC */
			<&gpio0 21 GPIO_ACTIVE_HIGH>; /* MDIO */
		#address-cells = <1>;
		#size-cells = <0>;

		phy0: ethernet-phy@1 {
			reg = <1>;
			device_type = "ethernet-phy";
		};
	};

	soc {
		flash@30000000 {
			status = "okay";
			/* 16MB of flash */
			reg = <0x30000000 0x01000000>;

			partitions {
				compatible = "redboot-fis";
				/* Eraseblock at 0xfe0000 */
				fis-index-block = <0x7f>;
			};
		};

		syscon: syscon@40000000 {
			pinctrl {
				/*
				 * gpio1dgrp cover line 28-31 otherwise used
				 * by TVC.
				 */
				gpio1_default_pins: pinctrl-gpio1 {
					mux {
						function = "gpio1";
						groups = "gpio1dgrp";
					};
				};
				pinctrl-gmii {
					mux {
						function = "gmii";
						groups = "gmii_gmac0_grp";
					};
					/* Settings come from OpenWRT, pins on SL3516 */
					conf0 {
						pins = "V8 GMAC0 RXDV", "T10 GMAC1 RXDV";
						skew-delay = <0>;
					};
					conf1 {
						pins = "Y7 GMAC0 RXC", "Y11 GMAC1 RXC";
						skew-delay = <15>;
					};
					conf2 {
						pins = "T8 GMAC0 TXEN", "W11 GMAC1 TXEN";
						skew-delay = <7>;
					};
					conf3 {
						pins = "U8 GMAC0 TXC";
						skew-delay = <11>;
					};
					conf4 {
						pins = "V11 GMAC1 TXC";
						skew-delay = <10>;
					};
					conf5 {
						/* The data lines all have default skew */
						pins = "W8 GMAC0 RXD0", "V9 GMAC0 RXD1",
						       "Y8 GMAC0 RXD2", "U9 GMAC0 RXD3",
						       "T7 GMAC0 TXD0", "U6 GMAC0 TXD1",
						       "V7 GMAC0 TXD2", "U7 GMAC0 TXD3",
						       "Y12 GMAC1 RXD0", "V12 GMAC1 RXD1",
						       "T11 GMAC1 RXD2", "W12 GMAC1 RXD3",
						       "U10 GMAC1 TXD0", "Y10 GMAC1 TXD1",
						       "W10 GMAC1 TXD2", "T9 GMAC1 TXD3";
						skew-delay = <7>;
					};
					/* Set up drive strength on GMAC0 to 16 mA */
					conf6 {
						groups = "gmii_gmac0_grp";
						drive-strength = <16>;
					};
				};
			};
		};

		sata: sata@46000000 {
			cortina,gemini-ata-muxmode = <0>;
			cortina,gemini-enable-sata-bridge;
			status = "okay";
		};

		gpio1: gpio@4e000000 {
			pinctrl-names = "default";
			pinctrl-0 = <&gpio1_default_pins>;
		};

		
		ethernet@60000000 {
			status = "okay";

			ethernet-port@0 {
				phy-mode = "rgmii";
				phy-handle = <&phy0>;
			};
			ethernet-port@1 {
				/* status = "disabled"; */
				/* DO NOT DISABLE THIS - the cortina driver assumes it exists and will croak on a NPDR */
			};
		};

		usb1: usb@68000000 {
			status = "okay";
		};

		usb0: usb@69000000 {
			status = "okay";
		};

		ide@63000000 {
			status = "okay";
		};

		ide@63400000 {
			status = "okay";
		};
	};
};
